 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 /* Navbar styling */
 .navbar {
    background-color: #3EABE1;
    background-image: linear-gradient(to right, #00157C, #146E90);  
    border-bottom: 2px solid #146E90;  
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 10px rgba(2, 5, 0, 0.8);  
}

  .navbar .div1 {
    display: flex;
    width: 21%;
    align-items: center;
  }

  .navbar .logo {
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff; 
  }

  .navbar .website-name {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
  }

  .navbar a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 5px; 
  }

  .navbar a:hover {
    background-color: #fff;
    color: #3EABE1;
    border: 2px solid #3EABE1;  
  }

  .navbar .div2 {
    display: flex;
    width: 80%;
    align-items: center;
  }

  .navbar .nav-links {
    margin-right: auto;
  }

  .navbar .signup-logout {
    background-color: #fff;
    color: #3EABE1;
    padding: 8px 15px;
    transition: all 0.3s ease;
  }

  .navbar .signup-logout:hover {
    background-color: #3EABE1;
    color: #fff;
  }


.hamburger-menu {
    display: none;  
    cursor: pointer;
    margin-left: auto;  
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .open:nth-child(2) {
    opacity: 0;
  }
  
  .open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .navbar .nav-links {
      display: none; 
    }
    .navbar .signup-logout {
      display: none; 
    }
 
    .navbar  {
        border-radius: 0px;
    }
    .hamburger-menu {
      display: block;  
    }
  }
  
  /* Sidebar styles */
.Sidebar {
    position: absolute;
    top: 85px;
    left: -250px;  
    width: 150px;
    height: 100%;
    background-image: linear-gradient(to right, #00157C, #146E90); 
    transition: left 0.3s ease; 
    box-shadow: 3px 5px 10px rgba(2, 5, 0, 0.8);
}
  
  .Sidebar a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 5px;  
    display: block;
}
.Sidebar a:hover {
    background-color: #fff;
    color: #3EABE1;
    border: 2px solid #3EABE1; 
  }
  .Sidebar.show {
    left: 0;  
  }
  .Sidebar .signup-logouts  {
    background-color: #fff;
    color: #3EABE1;
    padding: 8px 15px;
    transition: all 0.3s ease;
  }
  .signup-logouts:hover {
    background-color: #3EABE1;
    color: #fff;
  }